.choices {
    background-color: yellow;
    border-radius: 2em;
    margin: 10px 0 0 10px;
    height: 3em;
    width: 5em;
}
.choices:hover {
    background-color: yellowgreen;
    color: whitesmoke;
}
.game {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
}